﻿@model DigitalRepublicTesteTech.Models.SalaModel;

@{
    ViewData["Title"] = "Calcular Tinta";
    Layout = "_Layout";
}
<h1> Calculadora de Tinta</h1>
<div>
    <form asp-action="CalcularTinta" asp-controller="CalculoTinta" asp-route-culture="pt-BR">

        <table>
            @*PAREDE A*@
            <thead>
                <tr><h4>Parede A</h4></tr>
                <tr>
                    <th>Comprimento</th>
                    <th>Altura</th>
                    <th>Quantidade de Portas (área 1,52m² cada)</th>
                    <th>Quantidade de Janelas (área 2,4m² cada)</th>
                </tr>
            </thead>
            <tbody>
                @*linha Inputs*@
                <tr>
                    <td>
                        <input asp-for="ParedeA.Comprimento" />
                    </td>
                    <td>
                        <input asp-for="ParedeA.Altura" />
                    </td>
                    <td>
                        <input asp-for="ParedeA.QntPortas" />
                    </td>
                    <td>
                        <input asp-for="ParedeA.QntJanelas" />
                    </td>
                </tr>
                @*linha validations*@
                <tr>
                    <td>
                        <span class="validations" asp-validation-for="ParedeA.Comprimento"></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeA.Altura"></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeA.QntPortas"></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeA.QntJanelas"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table>
            @*PAREDE B*@
            <thead>
                <tr><h4>Parede B</h4></tr>
                <tr>
                    <th>Comprimento</th>
                    <th>Altura</th>
                    <th>Quantidade de Portas (área 1,52m² cada)</th>
                    <th>Quantidade de Janelas (área 2,4m² cada)</th>
                </tr>
            </thead>
            <tbody>
                @*linha Inputs*@
                <tr>
                    <td>
                        <input asp-for="ParedeB.Comprimento" />
                    </td>
                    <td>
                        <input asp-for="ParedeB.Altura" />
                    </td>
                    <td>
                        <input asp-for="ParedeB.QntPortas" />
                    </td>
                    <td>
                        <input asp-for="ParedeB.QntJanelas" />
                    </td>
                </tr>
                @*linha validations*@
                <tr>
                    <td>
                        <span class="validations" asp-validation-for="ParedeB.Comprimento"></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeB.Altura"></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeB.QntPortas"></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeB.QntJanelas"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table>
            @*PAREDE C*@
            <thead>
                <tr><h4>Parede C</h4></tr>
                <tr>
                    <th>Comprimento</th>
                    <th>Altura</th>
                    <th>Quantidade de Portas (área 1,52m² cada)</th>
                    <th>Quantidade de Janelas (área 2,4m² cada)</th>
                </tr>
            </thead>
            <tbody>
                @*linha Inputs*@
                <tr>
                    <td>
                        <input asp-for="ParedeC.Comprimento" />
                    </td>
                    <td>
                        <input asp-for="ParedeC.Altura" />
                    </td>
                    <td>
                        <input asp-for="ParedeC.QntPortas" />
                    </td>
                    <td>
                        <input asp-for="ParedeC.QntJanelas" />
                    </td>
                </tr>
                @*linha validations*@
                <tr>
                    <td>
                        <span class="validations" asp-validation-for="ParedeC.Comprimento"></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeC.Altura" ></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeC.QntPortas" ></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeC.QntJanelas" ></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table>
            @*PAREDE D*@
            <thead>
                <tr><h4>Parede D</h4></tr>
                <tr>
                    <th>Comprimento</th>
                    <th>Altura</th>
                    <th>Quantidade de Portas (área 1,52m² cada)</th>
                    <th>Quantidade de Janelas (área 2,4m² cada)</th>
                </tr>
            </thead>
            <tbody>
                @*linha Inputs*@
                <tr>
                    <td>
                        <input asp-for="ParedeD.Comprimento" />
                    </td>
                    <td>
                        <input asp-for="ParedeD.Altura" />
                    </td>
                    <td>
                        <input asp-for="ParedeD.QntPortas" />
                    </td>
                    <td>
                        <input asp-for="ParedeD.QntJanelas" />
                    </td>
                </tr>
                @*linha validations*@
                <tr>
                    <td>
                        <span class="validations" asp-validation-for="ParedeD.Comprimento" ></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeD.Altura" ></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeD.QntPortas" ></span>
                    </td>
                    <td>
                        <span class="validations" asp-validation-for="ParedeD.QntJanelas" ></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="listaErros" asp-validation-summary="All" ></div>

        <div id="btnDiv">
            <input id="btnSubmit" type="submit" value="Calcular" />
        </div>



    </form>

    @if (Model != null && Model.CalculoRealizado)
    {
        <div>
            <p id="txtResultado"> Este é o total de latas que serão necessárias para pintar a sala:</p>
            <table aria-labelledby="tableLabel">
                <thead>
                    <tr>
                        <th>18 Litros</th>
                        <th>3,6 Litros</th>
                        <th>2,5 Litros</th>
                        <th>0,5 LItros</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.TotalLatas18</td>
                        <td>@Model.TotalLatas3L600</td>
                        <td>@Model.TotalLatas2L5</td>
                        <td>@Model.TotalLatas0L5</td>

                    </tr>
                </tbody>
            </table>
        </div>
    }

</div>