html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table, th, td {
    border-style:inset;
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

th{
    background-color:darkcyan;
}

table{
    margin-bottom:35px;
}

h1{
    margin-bottom:60px;
}

nav{
    background-color:darkcyan;
}


.validations{
    color:red;
}

#txtResultado{
    margin-top:30px;
}

#listaErros {
    margin-top: 65px;
    color: red;
}

#btnSubmit{
    background-color:cornflowerblue;
    width:300px;
    height:60px;
}

#btnDiv {
    align-items:center;
}